{% extends 'shop/includes/layout.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger py-4 my-4" role="alert">
            <i class="bi bi-exclamation-circle fs-5"></i>
            {{ error }}
        </div>
    {% else %}
        <div class="alert alert-success py-4 my-4" role="alert">
            <i class="bi bi-check-circle fs-5"></i>
            Your order has been placed successfully, please check your email for more details.<br>
            <b>Order ID: {{ order.tracking_number }}</b><br>
            To track your order, please click <a href="{% url 'track_order' %}?tracking_number={{ order.tracking_number }}">here</a>.
        </div>
    {% endif %}
{% endblock %}