{% extends 'shop/includes/layout.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
    <img src="{% static 'media/images/hero2.png' %}" class="img-fluid rounded-bottom-4 shadow-sm object-fit-cover"
         alt="">
    {% if products.count > 0%}
        <div class="p-2">
            <h1 class="w-100 text-center p-4 border-bottom border-body-secondary">ALL PRODUCTS</h1>
            <div class="row row-cols-6">
                {% for product in products %}
                    {% include 'shop/includes/product_list_item.html' with product=product %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info py-4 my-4" role="alert">
            There are no products yet.
        </div>
    {% endif %}
{% endblock %}
